map $http_user_agent $log_ua {
        ~Pingdom 0;
        ~Googlebot 0;
        ~Baiduspider 0;
        ~Amazon\ Route\ 53 0;
        ~UptimeRobot 0;
        ~HealthChecker 0;
        ~ProjectShield 0;
        default 1;
}

log_format timed_combined '$remote_addr - $remote_user [$time_local] '
            '"$request" $status $body_bytes_sent '
            '"$http_referer" "$http_user_agent" '
            '$request_time $upstream_response_time $pipe';

server {
        root /srv/www/web;
        server_name {{ .Env.DEFAULT_HOST }}
        index index.html index.php;
        access_log /dev/stdout timed_combined if=$log_ua;

        location = /favicon.ico {
                log_not_found off;
                access_log off;
        }

        location = /robots.txt {
                allow all;
                log_not_found off;
                access_log off;
        }

        location / {
                # This is cool because no php is touched for static content
                try_files $uri @rewrite;
                sendfile off;
        }

        location @rewrite {
                # Some modules enforce no slash (/) at the end of the URL
                # Else this rewrite block wouldn't be needed (GlobalRedirect)
                rewrite ^/(.*)$ /index.php?q=$1;
        }

        location ~ .php$ {
                access_log off;
                fastcgi_split_path_info ^(.+.php)(/.+)$;
                #NOTE: You should have "cgi.fix_pathinfo = 0;" in php.ini
                include fastcgi_params;
                real_ip_header X-Forwarded-For;
                real_ip_recursive on;
                set_real_ip_from 0.0.0.0/0;
                fastcgi_param SCRIPT_FILENAME $document_root$fastcgi_script_name;
                fastcgi_intercept_errors on;
                fastcgi_pass {{ or (.Env.PHP_HOST) "php" }}:9000;
                fastcgi_read_timeout 600;
        }

        location ~* \.(js|css|png|jpg|jpeg|gif|ico|svg|ttf|woff|woff2)$ {
                gzip on;
                expires max;
                add_header Cache-Control public;
                log_not_found off;
                access_log off;
                sendfile off;
        }
}
